<%- include partials/hearder.ejs %>
<body>
  <%- include partials/navbar.ejs %>
  <div class="container">
    <div class="card">
      <div class="card-header">
        <h3>Realizar Perguntas</h3>
      </div>
      <div class="card-body">
        <form method="POST" action="/salvarpegunta">
          <label>Nome</label>
          <input
            type="text"
            placeholder="Nome ou Apelido"
            class="form-control"
            name="nome"
          /><br />
          <label>Titulo</label>
          <input
            type="text"
            placeholder="Titulo"
            class="form-control"
            name="titulo"
          /><br />
          <label>Descrição</label>
          <textarea
            placeholder="Descreva sua pergunta"
            class="form-control"
            name="descricao"
          ></textarea
          ><br />
          <button class="btn btn-success">Perguntar</button>
        </form>
      </div>
    </div>
  </div>
</body>
<%- include partials/footer.ejs %>
