body {
  background-color: #eceff1;
}
img {
  height: 70px;
}
nav {
  margin-bottom: 20px;
}
.formataDate {
  float: right;
  font-size: 14px;
}
.b1 {
  height: 80px;
}
.b2 {
  text-align: center;
  color: red;
}
